.background {
  background-image: url("https://ak9.picdn.net/shutterstock/videos/22001749/thumb/1.jpg");
  width: 100vw;
}

.displayCards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr
}