.profileImg {
    display: inline-block;
    object-fit: cover;
    border: 0;
	width: 350px;
    height: 300px;

}

.card {
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    margin-top: 10px;
}



.card-content{
 
    text-align: center;
   }